*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrap{
	width: 100%;
	height: 100vh;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}

.navbarContainer{
	width: 15%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-left: 50px;

}

.navbarheader{
	background-color: rgb(255, 145, 0);
	color: #fff;
	padding: 10px 30px;
	border-radius: 10px;
	cursor: pointer;

}

.ingradientContainer{
	display: flex;
	flex-direction: column;
	width: 200px;
	align-items: center;
	

}

.category{
	border-bottom: 2px dotted  rgb(255, 145, 0);
	width: 100%;
	padding: 10px;
	color: #fff;
	cursor: pointer;

}

.categoryInner{
	width: 100%;
	display: flex;
	flex-direction: column;
	color: #fff;
	padding: 10px 0;



}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;

}


.ingradient{
	font-size: calc(5px + 0.5vw);
	margin: 0 10px;

}

.pic{
	width: 50px;
	height: 50px;
	box-shadow: 0 2px 3px #9999;
	border-radius: 5px;
	background-size: cover;

}

.feta{
	background-image: url(./img/feta.png);
}

.blue{
	background-image: url(./img/blu.png);
}

.parm{
	background-image: url(./img/parmezan.png);
}

.cheddar{
	background-image: url(./img/cheder.png);
}

.mozzarela{
	background-image: url(./img/motza.png);
}

.cheken{
	background-image: url(./img/chicken.png);
}

.bacon{
	background-image: url(./img/bekon.png);
}

.shunka{
	background-image: url(./img/shunka.png);
}

.paperoni{
	background-image: url(./img/paparoni.png);
}

.alfredo{
	background-image: url(./img/alfredo.png);
}

.barbequ{
	background-image: url(./img/barbequ.png);
}

.chasnikovy{
	background-image: url(./img/chasnyk.png);
}


.kukurudza{
	background-image: url(./img/kukurudza.png);
}


.ananas{
	background-image: url(./img/ananas.png);
}


.tomato{
	background-image: url(./img/tomato.png);
}

.mushrooms{
	background-image: url(./img/grub.png);
}

.shpunat{
	background-image: url(./img/shpunat.png);
}

.pepper{
	background-image: url(./img/perets.png);
}




.ingradient div:last-child{
	margin-top: 10px;
	margin-bottom: 5px;

}



.pizzaContainer{
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 50px;
}
.pizza{
	width: 450px;
	height: 450px;
	background-image: url(./img/bace.png);
	background-size: cover;
	background-color: transparent;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rowBig{
	width: 100%;
	height: 50%;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
}
.pic2{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	background-size: cover;
	margin: 2%;
	border: 1px solid #9999;
}

.feta2{
	background-image: url(./img/feta.png);
}

.blue2{
	background-image: url(./img/blu.png);
}

.parm2{
	background-image: url(./img/parmezan.png);
}

.cheddar2{
	background-image: url(./img/cheder.png);
}

.mozzarela2{
	background-image: url(./img/motza.png);
}

.cheken2{
	background-image: url(./img/chicken.png);
}

.bacon2{
	background-image: url(./img/bekon.png);
}

.shunka2{
	background-image: url(./img/shunka.png);
}

.paperoni2{
	background-image: url(./img/paparoni.png);
}

.alfredo2{
	background-image: url(./img/alfredo.png);
}

.barbequ2{
	background-image: url(./img/barbequ.png);
}

.chasnikovy2{
	background-image: url(./img/chasnyk.png);
}


.kukurudza2{
	background-image: url(./img/kukurudza.png);
}


.ananas2{
	background-image: url(./img/ananas.png);
}


.tomato2{
	background-image: url(./img/tomato.png);
}

.mushrooms2{
	background-image: url(./img/grub.png);
}

.shpunat2{
	background-image: url(./img/shpunat.png);
}

.pepper2{
	background-image: url(./img/perets.png);
}



.buuton__container{
	width: 20%;
	height: 100%;
	padding-top: 50px;

}

.button__pizaa{
	width: 150px;
	height: 40px;
	border-radius: 10px;
	border: none;
	background-color: rgb(28, 216, 66);
	font-size: 14px;
	font-family: monospace;
	color: #fff;
	
	
}




.buuton__anomation{
	animation-name: buuton__anomation;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;

}

@keyframes buuton__anomation {
	0%{
		position: relative;
		top: 5px;
	}
	100%{
		position: relative;
		top: -5px;
	}

}